  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <h4 class="chatbox__heading--header">Chat support</h4>
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img class="img-fluid" src="../../static/assets/img/haruhi.png" alt="image">
                </div>
                <div class="chatbox__content--header">

                    <p class="chatbox__description--header">Hey amigo, me llamo HaruhiBOT.  ¿Como puedo ayudarte?</p>
                </div>
            </div>


<div id="message"></div>

                <li class="nav-item">
                    <a class="nav-link dropmodedown-toggle" href="#" data-bs-toggle="dropdown">Preguntas Frecuentes</a>
                    <ul class="dropdown-menu overflow-scroll scroll_bar">
                        <li>
                            <button class="btn btn-info dropdown-item predefined-question" onmousedown="chatbox.sendPredefinedQuestion('¿Cuál es el horario de la biblioteca?')">Horario de la biblioteca</button> <br>

                        </li>
                        <li>
                            <button class="btn btn-info dropdown-item predefined-question" onmousedown="chatbox.sendPredefinedQuestion('¿Donde está ubicada la biblioteca?')">¿Donde está ubicada la biblioteca?</button><br>

                        </li>
                        <li>
                          <button class="btn btn-info dropdown-item predefined-question" onmousedown="chatbox.sendPredefinedQuestion('¿Cómo puedo acceder a la biblioteca digital?')">¿Cómo puedo acceder a la biblioteca digital?</button><br>

                        </li>
                        <li>
                          <button class="btn btn-info dropdown-item predefined-question" onmousedown="chatbox.sendPredefinedQuestion('Informacion de contacto')">Informacion de contacto</button><br>

                        </li>


                    </ul>
                </li>

            <div class="row justify-content-end">

    </div>
            <div class="chatbox__messages">

                   <div></div>
            </div>
            <div class="chatbox__footer">

                <div class="col-md-6 mt-4 py-2">
        <input
          type="text"
          class="form-control border-0 shadow-none"
          placeholder="Escribe algo..." />
      </div>
  <script>
      // Obtén el elemento de entrada
let input = document.getElementById("search");

// Agrega un controlador de eventos para la tecla Enter
input.addEventListener("keyup", function(event) {
  // Número 13 es la tecla Enter
  if (event.keyCode === 13) {
    // Cancela la acción predeterminada, si es necesario
    event.preventDefault();
    // Llama a la función de búsqueda
    buscadorTablelib('tbl_libros');
  }
});


  </script>
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="../../static/assets/img/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>

