 <footer class="pt-5 mt-5 border-top">
        <div class="container-xl mt-5">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0 text-center">
                    <h3 class="mb-4">Categorías</h3>
                    <nav class="d-flex flex-column">
                        <a class="text-dark text-decoration-none" href="#">Cocina</a>
                        <a class="text-dark text-decoration-none" href="#">Oficina</a>
                        <a class="text-dark text-decoration-none" href="#">Jardín</a>
                        <a class="text-dark text-decoration-none" href="#">Cochera</a>
                        <a class="text-dark text-decoration-none" href="#">Dormitorios</a>
                    </nav>
                </div>

                <div class="col-md-4 mb-4 mb-md-0 text-center">
                    <h3 class="mb-4">Sobre Nosotros</h3>
                    <nav class="d-flex flex-column">
                        <a class="text-dark text-decoration-none" href="#">Nuestra Historia</a>
                        <a class="text-dark text-decoration-none" href="#">Misión, Visión y Valores</a>
                        <a class="text-dark text-decoration-none" href="#">Carreras</a>
                        <a class="text-dark text-decoration-none" href="#">Política de Privacidad</a>
                        <a class="text-dark text-decoration-none" href="#">Términos del Servicio</a>
                    </nav>
                </div>

                <div class="col-md-4 mb-4 mb-md-0 text-center">
                    <h3 class="mb-4">Soporte</h3>
                    <nav class="d-flex flex-column">
                        <a class="text-dark text-decoration-none" href="#">Preguntas Frecuentes</a>
                        <a class="text-dark text-decoration-none" href="#">Ayuda en Línea</a>
                        <a class="text-dark text-decoration-none" href="#">Confianza y Seguridad</a>
                    </nav>
                </div>
            </div>

            <p class="mt-5 text-center fs-2">Todos los derechos Reservados. Brayan Barco</p>
        </div>
    </footer>