



<div class="carousel-inner">
<div class="carousel-item active banner">
                  <img src="{{ url_for('static', filename ='assets/img/carousel/biblio1.png') }}" alt="slide 1" class="d-block w-100">
  </div>
{% include 'public/includes/barranav.html' %}


    <div class="contenido-banner {% if request.path == '/inicio' %} active {% endif %}">
                       <a href="/inicio" class="">
                        <div class="blanco" data-i18n="Tables">Bienvenidos a nuestra </div>
                         <div>Biblioteca UFPS</div>
                      </a>
</div>



</div>


