  <section class="seccion">
        <h1 class="text-center my-5 heading"></h1>

        <div class="container-xl">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3></h3>
                        <h4 class="text-center text-danger">Charlas TED UFPS BECL</h4>
                        <div class="card-body">
                            <p class="card-text">El ingeniero Eduard Puerto llevara a cabo una serie de charlas TED UFPS-BECL, las cuales tratan temas de inteligencia artificial y su relación en los seres humanos. Tratando</p>
                            <a href="#" class="text-danger">LEER MÁS »</a>
                        </div>
                    </div>
                </div> <!-- col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3></h3>
                        <h4 class="text-center text-danger">Charla ChaGPT TED-UFPS-BECL</h4>
                        <div class="card-body">
                            <p class="card-text">ChatGPT, un modelo de lenguaje basado en la arquitectura GPT-3.5 de OpenAI. Su función es procesar y comprender el lenguaje natural a través del aprendizaje automático y el</p>
                            <a href="#" class="text-danger">LEER MÁS »</a>
                        </div>
                    </div>
                </div> <!-- col-md-4 -->

                <div class="col-md-4">
                    <div class="card mb-3">
                        <h3></h3>
                        <h4 class="text-center text-danger">Charla ¿Cómo funciona el cerebro? TED UFPS-BECL</h4>
                        <div class="card-body">
                            <p class="card-text">El funcionamiento del cerebro humano es uno de los principales enigmas científicos que se están investigando actualmente. En este sentido, la neurociencia, la inteligencia artificial y la</p>
                            <a href="#" class="text-danger">LEER MÁS »</a>
                        </div>
                    </div>
                </div> <!-- col-md-4 -->
            </div>
        </div>
    </section>


